---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sloan Plaza</title>
	</head>
	<body>
		<h1>Welcome to Sloan Plaza</h1>
        <p>This is the public home page for our community.</p>
        <p>
            <a href="/SloanPlaza/members/">Resident Login (Members Only)</a>
        </p>
	</body>
</html>
